@model MapperNet.WebDemo.Models.SqlServer.Person

@{
    ViewBag.Title = "PersonDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Details</h2>

<div>
    <h4>@string.Format("{0} {1}", Model.FirstName, Model.LastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPerson", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "People")
</p>
